Node-red.txt
[{"id":"b153cba3.190588","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca01faaa.10a008","type":"function","z":"b153cba3.190588","name":"Conversão para Celsius","func":"msg.payload = msg.payload * 0.48828125;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["c6b0fce.d5552","f312e84a.a0d448","5e216094.33c37"]]},{"id":"bf0bfdcd.257a3","type":"arduino in","z":"b153cba3.190588","name":"Temperatura","pin":"0","state":"ANALOG","arduino":"c826caac.f39248","x":90,"y":200,"wires":[["ca01faaa.10a008"]]},{"id":"f449eb2a.95d048","type":"firebase modify","z":"b153cba3.190588","name":"Temperature","firebaseconfig":"","childpath":"temperatura/valor","method":"set","value":"msg.payload","priority":"msg.priority","x":770,"y":200,"wires":[[]]},{"id":"c6b0fce.d5552","type":"function","z":"b153cba3.190588","name":"Maior que 30 graus?","func":"if (msg.payload > 30.0) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["3f67f3d6.4e306c"]]},{"id":"3f67f3d6.4e306c","type":"firebase modify","z":"b153cba3.190588","name":"Disparar alerta vermelho","firebaseconfig":"","childpath":"perigo/status","method":"set","value":"msg.payload","priority":"msg.priority","x":750,"y":280,"wires":[[]]},{"id":"26f98fc5.5abc3","type":"arduino out","z":"b153cba3.190588","name":"Acender LED Vermelho","pin":"8","state":"OUTPUT","arduino":"c826caac.f39248","x":730,"y":440,"wires":[]},{"id":"d79a13a1.10be1","type":"firebase.on","z":"b153cba3.190588","name":"Alerta está ligado?","firebaseconfig":"","childpath":"perigo/status","atStart":true,"eventType":"value","queries":[],"x":110,"y":440,"wires":[["26f98fc5.5abc3","3bc50f42.07485"]]},{"id":"533c3bdc.7aea44","type":"arduino out","z":"b153cba3.190588","name":"Acender LED Verde","pin":"7","state":"OUTPUT","arduino":"c826caac.f39248","x":720,"y":520,"wires":[]},{"id":"3bc50f42.07485","type":"function","z":"b153cba3.190588","name":"Inverter sinal","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":520,"wires":[["533c3bdc.7aea44"]]},{"id":"f312e84a.a0d448","type":"function","z":"b153cba3.190588","name":"Parse Float","func":"msg.payload = (msg.payload).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["f449eb2a.95d048"]]},{"id":"5e216094.33c37","type":"debug","z":"b153cba3.190588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":140,"wires":[]},{"id":"c826caac.f39248","type":"arduino-board","z":"","device":"COM6"}]
